* {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 600px;
}
.hero {
  position: relative;
}
.tab-bar {
  position: absolute;
  display: flex;
  left: 10px;
  top: 550px;
  gap: 10px;
}
.tab-bar a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  background: #fff;

  padding: 10px 10px;
  transition: all 0.3s ease;
}
.tab-bar a.active {
  box-shadow: inset 0 -4px 0 #ba5b29;
}
.tab-bar a:hover {
  color: #ba5b29;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.Row button {
  width: 100%;
  height: 40px;
  border-radius: 6px;
}
.Row button.active {
  background: #ba5b29;
}
.branch-info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.branch-info > div:first-child {
  flex: 2;
}
.branch-info iframe {
  aspect-ratio: 16/9;
  border: 0;
}
.branch-info > div:last-child {
  font-size: 20px;
  line-height: 2;
  flex: 1;
}

.branch-menu {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}
.menu-img {
  max-width: 500px;
  @media screen and (max-width: 768px) {
    max-width: 400px;
  }
}
footer {
  text-align: center;
}
.ant-divider-inner-text {
  /*預約文字*/
  color: #fff;
  font-size: 24px;
}
